body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  img {
    max-width: 100px;
    border-radius: 100%;
    margin-bottom: 20px;
  }
  
  a {
    color: #108898;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
  }