
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home</title>
  <link rel="stylesheet" href="/public/style/userList.css"> 
</head>
<body>
  <nav>
    <div class="container">
      <ul>
        <li><a href="/adminHome">Home</a></li>
        <li><a href="/admin/products">View Products</a></li>
        <li><a href="/admin/users">View Users</a></li>
        <li><a href="/admin/addProduct">Add New Product</a></li>
        <li class="logout"><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>Welcome to the Admin Home Page</h1>
  </div>
</body>
</html>